@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  :root {
    --header-color1:#16161f;
    --button-color1:#575252;
    --button-color2:#fcfcfb;
    --button-color3:#343232;
  }
  
  * {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  
  body {
    background-color:var(--button-color2);
  }
  .navbar {
    height:50px;
    position:fixed;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background:var(--header-color1);
    width:100%;
    color: white;
  }
  
  #navbar {
    display:fixed;
    padding-right:10px;
  }
  
  .navbar h2 {
    padding-left:50px;
    font-family:Poetsen One, Tahoma, sans serif;
  
  }
  .navbar a:hover {
    background:var(--button-color2);
    padding:5px;
    border-radius:5px;
  }
  
  #navbar ul {
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:nowrap;
  }
  
  #navbar ul li a {
    margin-left:8px;
    text-decoration:none;
    color:beige;
  }
  #navbar ul li a:last-of-type {
    padding-right:10px;
  }
  
  .welcome-section {
    padding:50px 10px 10px 10px;
    text-align:center;
  }
  
  .welcome-section input {
    display:flex;
    margin:0 auto;
    background:var(--button-color1);
    padding:10px;
    color:var(--button-color2);
    border-radius:5px;
    border:none;
    z-index:0;
  }
  .welcome-section input:hover {
    background-color:var(--button-color3);
    scale:1.01;
  }
  
  @media only screen @ (max-width:1080px;) {
  * {
    scale:0.5;
  }
  
  .navbar {
    justify-content:space-between;
}

}
  
  #contact {
    display: flex;
    margin: 60px auto;
    flex-direction:row;
    justify-content: space-evenly;
    background:#808080;
    padding: 30px;
    align-items:center;
    flex-wrap:nowrap;
  }
  .contact-description {
    text-align:left;
  }
  
  .projects {
    width:100%;
    border:1px solid black;
    display:flex;
    margin:0 auto;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-bottom:10vh;
    padding:25px 10px;
    background:var(--header-color1);
  }
  
  .project-tile {
    width:30%;
    height:28vh;
    border: 1px solid black;
    border-radius:5%;
    z-index:1;
    background:var(--button-color2);
    }